<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Funcionários</title>
</head>
<body>
<form action="/funcionarios/new" method="POST">
RE:<input type="text" name="re"/><br/>
Nome:<input type="text" name="nome"/><br/>
Data de Admissão:<input type="text" name="dataAdmissao"/><br/>
Salário:<input type="text" name="salario"/><br/>
<input type="submit" value="Enviar"/>
</form>
<a href="/funcionarios">voltar</a>
</body>
</html>