<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionários</title>
</head>
<body>
    <h1>Página de Funcionários</h1>
    <a href="/funcionarios/cadastro">Cadastro</a><br/>
    <a href="/funcionarios/lista">Lista</a>
</body>
</html>